@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    .pagraph1 {
        font-family: 'Times New Roman';
        font-size: 18px;
        color: black;
        text-align: justify;
    }
    
</style>

<div>
    <p class="pagraph1">
        Marshall University experts can help representatives of print and broadcast media explain the story to the public.

        University Communications only refers experts who have expressed a willingness to respond promptly to questions about specific subjects and issues.

        Interviews or consultations with these individuals may be arranged by calling Dave Wellman at 304-696-7153 for our Huntington campus or Lalena Price 304-746-1989 for our South Charleston campus.

        Please contact Leah Payne at 304-691-1713 to arrange interviews for our medicine experts.

        Please refer to the categories on the right of this page for a listing of experts. We appreciate your interest in Marshall University!
    </p>
</div>
