@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marshall University Department of Computer Science and Engineering<br />
    </address>
  
    <address>
        <strong>Team one:</strong>   <br />
        <a href="mailto:samples@marshall.edu" >Geoffrey Samples</a><br />
                                      
         <a href="mailto:atsbaha@marshall.edu">Henok Atsbaha</a><br />

        <strong>Professor :</strong> <a href="mailto:wahjudi@marshall.edu">wahjudi@marshall.edu</a>
         
    </address>